<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Shopping List</title>


</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl" class="container">

        <div>
            <h1> My Shopping List</h1>
            <ul>
                <li ng-repeat="item in products">{{item}}</li>
            </ul>
            <input type='text' ng-model="newItem" placeholder="enter new item" />
            <button ng-click="products.push(newItem)">Add</button>
        </div>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            // array of products
            $scope.products = [
                "Milk",
                "Bread",
                "Cheese"
            ]
        });
    </script>


</body>

